* {
    font-family: Lato, sans-serif;
    font-family: Montserrat, sans-serif;
    font-family: Nunito Sans, sans-serif;
    font-family: Raleway, sans-serif;
    font-family: Roboto, sans-serif
}

img {
    max-width: 100%;
    height: auto
}

input,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

a {
    text-decoration: none
}

.shedule_btn {
    background: #d42027;
    color: #fff;
    padding: 10px 32px;
    border: 5px solid #000;
    border-radius: 5px;
    display: inline-block;
    font-weight: 500;
    text-decoration: none;
    transition: all .25s ease
}

.shedule_btn:hover {
    opacity: .8;
    text-decoration: none;
    color: #fff;
    background: #0684bd
}

header {
    padding: 20px 0;
    background-color: #fff
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center
}

header nav .btn-sales {
    font-size: 1em;
    padding: .8em 2em;
    background: #0684bd;
    color: #fff;
    font-weight: 500;
    border: 2px solid #fff;
    border-radius: .25em;
    transition: all .25s ease;
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-decoration: none
}

header nav .btn-sales:hover {
    opacity: .8;
    color: #fff
}

.home-section {
    background-image: url(../img/bg-design.jpg);
    background-size: cover;
    display: flex;
    position: relative;
    padding-bottom: 100px
}

.home-section .chain {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    background-position: center 83px;
    background-image: url(../img/chain-big1.png);
    background-repeat: no-repeat;
    left: 0
}

.home-section .chain-mobile {
    display: none
}

.home-section .home-titles {
    position: relative;
    z-index: 1
}

.home-section .home-titles h1 {
    padding-top: 50px;
    font-size: 44px;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px #0e0b0b;
    font-style: italic
}

.home-section .home-titles .home-description {
    color: #fff;
    font-size: 19px
}

.home-section .home-titles .home-description b {
    color: #fff;
    font-size: 34px;
    text-shadow: 2px 2px #0e0b0b;
    font-weight: 500;
    font-style: italic
}

.home-section .home-titles span {
    color: #fff;
    font-size: 20px;
    font-weight: 600
}

.home-section .home-titles .home-contents {
    padding-top: 180px
}

.home-section .home-titles .home-contents p {
    color: #fff;
    font-size: 19px
}

.home-section .home-titles .home-contents p b {
    color: #fff;
    font-size: 34px;
    text-shadow: 2px 2px #0e0b0b
}

.home-section .home-titles .home-contents span {
    color: #fff;
    font-size: 20px;
    font-weight: 600
}

.home-section .home-titles .home-contents .home-points {
    font-size: 23px;
    font-weight: 700
}

.home-section .home-titles .home-contents ul {
    -webkit-padding-start: 20px;
    padding-inline-start: 20px
}

.home-section .home-titles .home-contents ul li {
    color: #fff;
    font-size: 19px
}

.home-section .home-titles .home-triangle {
    display: flex;
    justify-content: center;
    align-items: center
}

.home-section .home-titles .home-triangle .outside {
    position: relative;
    width: 55vmin;
    height: 25vmin;
    background: #000;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
    border-radius: 5px
}

.home-section .home-titles .home-triangle .outside .inside {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #fff;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
    padding: 15px;
    text-transform: uppercase
}

.home-section .home-titles .home-triangle .outside .inside b {
    font-size: 17px
}

.home-section .home-titles .home-triangle .outside .inside span {
    color: #ef4b23;
    font-size: 17px
}

.home-section .home-form {
    background: #c3e4f2;
    padding: 25px;
    border: 7px solid #000;
    border-radius: 5px;
    margin-top: 54px
}

.home-section .home-form h3 {
    color: #000;
    font-weight: 600;
    padding-bottom: 24px;
    text-transform: uppercase;
    font-style: italic
}

.home-section .home-form h4 {
    color: #d42027;
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 11px;
    padding-top: 20px
}

.home-section .home-form hr {
    border-top: 1px solid #a2bec9
}

.home-section .home-form p {
    padding-top: 20px;
    font-weight: 500
}

.home-section .home-form .shedule_btn {
    margin-top: 20px;
    margin-bottom: 20px
}

.home-section .home-form .form-control {
    border-radius: 0;
    height: calc(2.95rem + 2px)
}

.home-section .home-form .form-control input::-webkit-input-placeholder {
    color: red
}

.home-section .home-form .form-control input::-moz-placeholder {
    color: red
}

.home-section .home-form .form-control input:-ms-input-placeholder {
    color: red
}

.home-section .home-form .form-control input::-ms-input-placeholder {
    color: red
}

.home-section .home-form .form-control input::placeholder {
    color: red
}

.home-section:after {
    content: "";
    position: absolute;
    border-top: 5px solid #000;
    bottom: -15px;
    left: 0;
    right: 0
}

.feel__free {
    padding: 70px 0;
    background: #f0f0f0;
    border-bottom: 5px solid #000
}

.feel__free h1 {
    padding-top: 40px;
    font-size: 46px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 50px;
    font-style: italic;
    color: #000;
    text-align: left
}

.feel__free h1 span {
    color: #ef4b23
}

.feel__free .blog-video {
    display: flex;
    justify-content: center;
    padding-bottom: 60px
}

.feel__free .blog-video .contents {
    width: 300px;
    margin-left: 32px
}

.feel__free .blog-video .contents p {
    padding-bottom: 25px;
    font-size: 19px
}

.feel__free .blog-video .contents .watch-link {
    color: #d62e34;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    transition: all .25s ease
}

.feel__free .blog-video .contents .watch-link:hover {
    color: #233955;
    text-decoration: underline
}

.feel__free .more-details p {
    font-size: 20px
}

.dark-border {
    border-bottom: 5px solid #000;
    padding-top: 6px
}

.home-summary {
    padding: 70px 0;
    background: #c3e4f2;
    color: #8198a1
}

footer {
    background: #233955;
    padding: 10px 0;
    font-family: Montserrat, sans-serif
}

footer .social-items {
    display: flex;
    justify-content: space-between;
    align-items: center
}

footer .social-items .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-bottom: 0;
    -webkit-padding-start: 0;
    padding-inline-start: 0
}

footer .social-items .social-media .social-item {
    padding: 10px 20px;
    font-size: 21px
}

footer .social-items .social-media .social-item a i {
    color: #fff
}

footer .social-items .social-media .social-item a i:hover {
    color: #d42027
}

footer .social-items .links {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    -webkit-padding-start: 0;
    padding-inline-start: 0
}

footer .social-items .links li {
    color: #fff;
    margin-left: 10px
}

footer .social-items .links li a {
    color: #e3e4e6;
    margin-right: 14px;
    font-size: 17px;
    text-decoration: none
}

footer .social-items .links li a:hover {
    color: #d42027
}

footer .social-items span {
    color: #e3e4e6
}

footer .social-items .img-footer {
    justify-content: center;
    align-items: center;
    display: flex
}

#text-box p {
    width: 300px;
    margin: 0 auto;
    font-size: 19px;
    font-weight: 400
}

section #full-size-image,
section #mob-size-image {
    background-size: 100%;
    width: 218px;
    height: 159px;
    margin: 0 auto
}

section .asset_1 {
    background: url(https://jaseelt77.github.io/Ring-web/img/women1.png) no-repeat
}

section .asset_2 {
    background: url(https://jaseelt77.github.io/Ring-web/img/asset3.png) no-repeat
}

section .asset_3 {
    background: url(https://jaseelt77.github.io/Ring-web/img/asset4.png) no-repeat
}

section .asset_4 {
    background: url(https://jaseelt77.github.io/Ring-web/img/asset1.png) no-repeat
}

section .asset_5 {
    background: url(https://jaseelt77.github.io/Ring-web/img/asset5.png) no-repeat
}

section .asset_6 {
    background: url(https://jaseelt77.github.io/Ring-web/img/blog_1.png) no-repeat
}

@media (max-width:768px) {
    header nav {
        display: block;
        text-align: center
    }
    header nav .btn-sales {
        margin-top: 11px;
        font-size: 1em;
        padding: .5em 2.3em;
        border-radius: 6px
    }
    .chain {
        display: none
    }
    .home-section {
        padding: 0 25px
    }
    .home-section .home-titles .home-description b {
        font-size: 26px
    }
    .home-section .home-titles .home-contents {
        padding-top: 110px
    }
    .home-section .home-titles .home-contents p {
        font-size: 17px
    }
    .home-section .home-titles .home-contents .home-points {
        font-size: 20px;
        font-weight: 600
    }
    .home-section .home-titles .home-triangle {
        display: block;
        text-align: center
    }
    .home-section .home-titles .home-triangle .outside {
        width: 100%;
        height: 50vmin;
        text-align: left
    }
    .home-section .home-form {
        margin-top: 30px
    }
    .home-section .chain-mobile {
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        background-position: center 59%;
        background-image: url(../img/responsive-chain.png);
        background-repeat: no-repeat;
        left: 0;
        display: block;
        width: 100%;
        z-index: 1
    }
    .feel__free h1 {
        padding-top: 0;
        font-size: 30px;
        font-weight: 700;
        text-align: center
    }
    .feel__free .blog-video {
        display: block;
        text-align: center;
        padding-bottom: 35px
    }
    .feel__free .blog-video .contents {
        width: 100%;
        margin-left: 0
    }
    .feel__free .blog-video .contents p {
        padding-bottom: 10px;
        padding-top: 17px
    }
    .feel__free .more-details {
        text-align: center
    }
    footer .social-items {
        display: block
    }
    footer .social-items .social-media {
        justify-content: space-evenly;
        margin-bottom: 20px
    }
    footer .social-items .links {
        align-items: center;
        margin-bottom: 0;
        justify-content: center;
        text-align: center;
        padding-bottom: 35px
    }
    footer .social-items .links li a {
        font-size: 12px;
        margin-right: 6px
    }
    footer .social-items span {
        color: #e3e4e6;
        font-size: 12px;
        text-align: center;
        justify-content: center;
        display: block;
        padding-bottom: 20px
    }
}

@media (max-width:992px) {
    footer .social-items {
        display: block
    }
    footer .social-items .social-media {
        justify-content: space-evenly;
        margin-bottom: 20px
    }
    footer .social-items .links {
        align-items: center;
        margin-bottom: 0;
        justify-content: center;
        text-align: center;
        padding-bottom: 35px
    }
    footer .social-items .links li a {
        font-size: 12px;
        margin-right: 6px
    }
    footer .social-items span {
        color: #e3e4e6;
        font-size: 12px;
        text-align: center;
        justify-content: center;
        display: block;
        padding-bottom: 20px
    }
}